# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/
*.egg-info/
*.spec
apk/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
package-lock.json

# Capacitor & Android
# We keep the 'android' folder but ignore build artifacts and local config
android/app/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.apk

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
